<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <title>Contact Box App</title>
    <style>
        .purple {
            color: #a5066b;
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
{% if is_paginated %}
    <div class="container">
        {% include 'pagin.html' %}
    </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

{% block footer %}
{% endblock %}
</body>
</html>