{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Group list</h3><br>
            <table>
                {% for object in object_list %}
                    <tr>
                        <td><a class="green" href="{% url 'group-detail-view' object.id %}">{{ object }}</a></td>
                        <td>
                            <small>
                                <a href="{% url 'group-update-view' object.id %}">Edit</a>
                                <a href="{% url 'group-delete-view' object.id %}">Delete</a>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <input class="btn btn-success" type="button" onclick="location.href='{% url 'group-create-view' %}'"
                   value="Add Group">
            <input class="btn btn-dark" type="button" onclick="location.href='{% url 'person-list-view' %}'"
                   value='Back'>
        </div>
    </div>

{% endblock %}