{% extends 'base.html' %}

{% block content %}
    <h3 class="purple">{{ group }}</h3><br>
    <table class="table table-hover">
        <tr>
            <th>Person</th>
            <th>Action</th>
        </tr>
        {% for object in object.person.all %}
            <tr>
                <td>
                    <a href="{% url 'person-detail-view' object.id %}">{{ object }}</a><br>
                </td>
                <td>
                    <input type="button" class="btn btn-warning" onclick="location.href='{% url 'remove-person-from-group-view' group.id object.id %}'"
           value='Del'>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <input type="button" class="btn btn-primary" onclick="location.href='{% url 'group-list-view' %}'"
           value='Group List'>
{% endblock %}