{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Person list - CONTACT BOX</h3><br>
            <table>
                {% for object in object_list %}
                    <tr>
                        <td><strong><a class="green" href="/show/{{ object.id }}">{{ object }}</a></strong></td>
                        <td>
                            <small>
                                <a href="{% url 'person-update-view' object.id %}">Edit</a> |
                                <a href="{% url 'person-delete-view' object.id %}">Delete</a>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <input type="button" class="btn btn-success" onclick="location.href='{% url 'person-create-view' %}'"
                   value='Add Person'>
            <input type="button" class="btn btn-primary" onclick="location.href='{% url 'group-list-view' %}'"
                   value='Group List'>
        </div>
    </div>
{% endblock %}



