{% extends 'base.html' %}

{% block content %}
    <h3 class="purple">{{ object }}</h3><br>
    <div class="row">
        <div class="col-sm-8">
            <strong>Description:</strong> {{ object.description }}<br>
            {% if object.address %}
                <strong>Address:</strong> {{ object.address }}
            {% else %}
                <small><a href="{% url 'address-create-view' object.id %}">Add address</a></small>

            {% endif %}<br>
            <br>

            {% if object.phone_set.all %}
                <strong>Phone:</strong><br>
                {% for phone in object.phone_set.all %}
                    &emsp;{{ phone }}({{ phone.type }}) | <a href="{% url 'phone-delete-view' phone.id %}">Del</a><br>
                {% endfor %}
            {% endif %}
            <small><a href="{% url 'phone-create-view' object.id %}">Add phone</a></small>
            <br>
            {% if object.email_set.all %}
                <strong>E-mail:</strong><br>
                {% for email in object.email_set.all %}
                    &emsp;{{ email }} ({{ email.type }}) | <a href="{% url 'email-delete-view' email.id %}">Del</a><br>
                {% endfor %}
            {% endif %}
            <small><a href="{% url 'email-create-view' object.id %}">Add email</a></small>
            <br>
            <input type="button" class="btn btn-dark"
                   onclick="location.href='{% url 'person-update-view' object.id %}'"
                   value='Update'>
             <input type="button" class="btn btn-dark"
                   onclick="location.href='{% url 'adding-person-to-group-view' object.id %}'"
                   value='Adding to group'>
            <hr>
        </div>
        <div class="col-sm-4">
            <strong>Groups:</strong><br>
            {% for group in object.group_set.all %}
                <a class="purple" href="{% url 'group-detail-view' group.id %}">{{ group }}</a><br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="button" class="btn btn-success" onclick="location.href='{% url 'person-list-view' %}'"
                   value='Contact List'>
        </div>


    </div>
{% endblock %}

