{% extends 'base.html' %}

{% block content %}
    <strong class="green">{{ object }}</strong><br>
    <div class="row">
        <div class="col-sm-12">
            <strong>Description:</strong> {{ object.description }}<br>
            {% if object.address %}
                <strong>Address:</strong> {{ object.address }}
            {% else %}
                No address |
                <small><a href="{% url 'address-create-view' object.id %}">Add</a></small>
            {% endif %}<br>
            {% if object.phone_set %}
                <strong>Phone:</strong>
                {% for phone in object.phone_set.all %}
                    &emsp;{{ phone }}({{ phone.type }})
                {% endfor %}
            {% else %}
                No phone
            {% endif %}<br>
            {% if object.email_set %}
                <strong>E-mail:</strong><br>
                {% for email in object.email_set.all %}
                    <li>{{ email }} ({{ email.type }})</li>
                {% endfor %}
            {% else %}
                No email
            {% endif %}<br>
        <input type="button" class="btn btn-warning" onclick="location.href='{% url 'person-update-view' object.id %}'"
               value='Update'><hr>
        </div>
        <div class="col-sm-12">
        <input type="button" class="btn btn-success" onclick="location.href='{% url 'person-list-view' %}'"
               value='Contact List'>
        </div>

    </div>
{% endblock %}

